
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");



body {

}
html {
  scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6, p, button, span, li, a, tr, th, td {
	font-family: 'Quicksand', sans-serif;
}

section.header {
}
.container {
}
.landing-box {
  margin-top: 100px;
  padding-bottom: 50px;
  
}
.logo {
	/*text-align: center;*/
}
.logo img {
	width: 120px;
}
.landingbg {
  background-repeat: no-repeat;
  background-position: -5px -100px;
  padding-top: 60px;
  padding-bottom: 130px;
}
.main-content {
  padding: 100px 0px;
}
.main-content .details {
  padding-right: 100px;
}
.main-content .details button{

}
.main-content .details h1{
  font-size: 46px;
  font-weight: 600;
  margin-bottom: 25px;
  letter-spacing: -1px;
  margin-top: -10px;
  color: #fff;
}
.main-content .details p{
  line-height: 26px;
  margin-bottom: 35px;
  margin-top: 20px;
  color: #fff;
}
.main-content .image {
  
}
button.main-button {
  padding: 10px 15px;
  background-color: #6b62ff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  outline: 0;
}
button.main-button:hover {
  background-color: #5c53e6;
}
button.main-button:active {
  box-shadow: none;
}
.main-content .image img{
  width: 340px;
}
.heading-box {
  padding: 30px 0;
}
/* line 38, ../scss/main.scss */
.heading-box h1 {
  margin: 0;
  font-weight: 500;
  color: #4855a9;
  font-size: 32px;
}
/* line 45, ../scss/main.scss */
.heading-box .under-line {
  width: 80px;
  height: 3px;
  margin-top: 10px;
  /*background-color: #FA4F52;
  box-shadow: 0 1px 3px 0 #fa4f528f;*/
  background-color: #384ba0;
  box-shadow: 0 1px 3px 0 #6c63fe6e;
  border-radius: 2px;
}

.menu-bar {
  position: fixed;
  right: 0;
  padding-left: 50px;
  bottom: 0;
  top: 0;
  background-color: #ffffff;
  transform: translateX(185px);
  transform-origin: right;
  opacity: 0;
}
.menu-active {
  transform: unset;
  opacity: 1;
  z-index: 100;
}
.menu-bar img{
  position: absolute;
  right: 50px;
  top: 50px;
  cursor: pointer;
}

.header {
}
.header .left-box{
}
.header .left-box img{
  
}
.header .right-box{
 
}
.header .right-box ul{
  text-align: right;
}
.header .right-box ul li{
  display: inline-block;
  padding-left: 30px;
}
.header .right-box ul li a{
  color: #202023;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
.header .right-box ul li a:hover{
  color: #4855A9;
}
.right-box-menu ul{
  
}
.right-box-menu ul li{
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 600;
  cursor: pointer;
  color: #384ba0;
  position: relative;
}
.right-box-menu ul li a{
  color: inherit;
  text-decoration: none;
}

/* line 54, ../scss/main.scss */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.cards {
  padding: 70px 0;
  padding-top: 20px;
}
.cards .card{
  position: relative;
}
.cards .card:hover .shadows-letter{
  transform: translate3d(-40px, -40px, 0) scale(1.5);
}
.cards .card:hover .heading-line{
  width: 100px;
}

.cards .card .heading-line{
  width: 40px;
  height: 3px;
  margin-top: 7px;
  background-color: #384ba0;
  box-shadow: 0 1px 3px 0 #6c63fe6e;
  border-radius: 2px;
}
.cards .card img{
  height: 200px;
}
.cards .card .shadows-letter{
  position: absolute;
  top: 8px;
  right: 0;
  font-size: 246px;
  font-weight: 600;
  color: #f1f0ff;
}
.cards .card h2{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 30px;
  color: #333333;
}
.cards .card p{
  font-size: 12px;
  margin-top: 15px;
  padding-right: 50px;
  color: #606168;
  line-height: 24px;
}


.story-formation {
  background-color: #f8f9ff;
  padding: 50px 0;
}

.story-formation .details {}
.story-formation .details h1{
  color: #4855a9;
}
.story-formation .details p{
  margin-bottom: 25px;
  color: #606168;
  line-height: 24px;
}
.story-formation .image{
  text-align: center;
  padding-top: 108px;
} 
.story-formation .image img {
  width: 260px;
}




section.founders {
  position: relative;
  height: 600px;
}
section.founders .founders-content {
  position: absolute;
  right: 0;
  left: 0;
}
section.founders .founders-content .heading-box h1 {
  color: #fff;
}
section.founders .founders-content .heading-box .under-line {
  box-shadow: none;
}

.team {
  background-color: #394d950d;
}
.team .row{
  margin: 0;
}
.team .founders {
  background-color: #394d96;
  padding-left: 160px;
  padding-right: 40px;
  padding-bottom: 120px;
  border-bottom-right-radius: 60px;
}
.team .founders h1{
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  margin: 50px 0;
}
.core-members {
}
.core-members .core-member {
  margin-bottom: 40px;
}

.avatar-box {

}
.avatar-box::after{
  display: table;
  content: '';
  clear: both;
}
.avatar-box .pic {
  width: 90px;
  height: 90px;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  border-radius: 50%;
  background-position: 50% 0;
  float: left;
}
.avatar-box .details {
  float: left;
  padding-left: 10px;
}
.avatar-box .details h2{
  color: #fff;
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 4px;
  font-weight: 500;
}
.avatar-box .details p{
  color: #88a2ff;
  font-size: 12px;
  font-weight: 500;
}
.avatar-info p{
  line-height: 20px;
}
.avatar-info {
  border-left: 1px solid #ffffff;
  padding-left: 20px;
  color: #fff;
  font-size: 12px;
  margin-top: 15px;
  margin-left: 45px;
  position: relative;
}
.avatar-info::before {
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: -6px;
  top: -2px;
}
.scroll-container {
  width: 480px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.avatar-container {
  width: 1024px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.avatar-container::after {
  display: table;
  clear: both;
  content: '';
}
.team-avatar {
  width: 100px;
  height: 100px;
  background-size: cover;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  border-radius: 4px;
  background-position: 50% 0;
  background-origin: border-box;
}
.team-avatar:hover {
  -webkit-filter: grayscale(0%); */
  filter: grayscale(0%);
}
.avatar-container .team-avatar {
  border-radius: 50%;
  border: 1px solid #00000012;
}
.avatar {
  margin-bottom: 40px;
  text-align: center;
  float: left;
  margin-right: 50px;
  width: 120px;
}
.avatar img {
  width: 120px;
  border-radius: 50%;
}
.avatar h3 {
  font-size: 15px;
  color: #616161;
  letter-spacing: 0.4px;
}
.avatar p {
  font-size: 12px;
  color: #a9a9a9;
}



.core-team {
  padding-left: 50px;
  position: relative;
}
.slider-arrows {
  position: absolute;
  left: 400px;
  top: 55px;
}
.slider-arrows ul {}
.slider-arrows ul li{
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}
.translateContainer {
  transform: translateX(-510px)
}
.slider-arrows ul li img{
  width: 30px;
}
#leftArrow {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
#leftArrow:hover {
  -webkit-transform: scaleX(-1) translateX(10px);
  transform: scaleX(-1) translateX(10px);
} 
#rightArrow:hover {
  transform: translateX(10px);
}
#rightArrow.grey-arrow:hover {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
} 
#leftArrow.grey-arrow:hover {
  -webkit-transform: scaleX(-1) translateX(0px);
  transform: scaleX(-1) translateX(0px);
}

.grey-arrow {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.2;
}
.core-team h1{
  font-size: 24px;
  font-weight: 500;
  margin: 50px 0;
}

section.footer {
  background-color: #222c41;
  position: relative;
}
section.footer .contact-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 250px;
}
.contact-details li {
  font-size: 14px;
  color: #dfdfdf;
  line-height: 25px;
  letter-spacing: 0.6px;
  font-weight: 400;
}
.contact-details li a {
  color: inherit;
  text-decoration: none;
}
.contact-details li a:hover {
  color: #fff;
}
.contact-details li p{
  color: #fff;
  font-weight: 500;
}
.contact-details li img{
  width: 100px;
  margin-bottom: 15px;
} 
/* line 275, ../scss/main.scss */
section.footer .wave {
  position: absolute;
  left: 0;
  right: 0;
  overflow-x: hidden;
  top: -115px;
  width: 100%;
  z-index: -1;
}
.contact-us {
  text-align: right;
}
/* line 282, ../scss/main.scss */
section.footer .wave svg > * {
  fill: #222a3d;
}
/* line 285, ../scss/main.scss */
section.footer .wave svg {
  /*width: 100%;*/
}
/* line 289, ../scss/main.scss */
section.footer h5 {
  text-align: center;
  color: #fff;
  padding-top: 95px;
  font-size: 28px;
  letter-spacing: 3px;
}

.social-links {

}
.social-links a{
  padding: 10px;
  border: thin solid #fff;
  display: inline-block;
  border-radius: 50%;
  border-width: 2px;
  margin: 0 5px;
  overflow: hidden;
}
.social-links a img{
  width: 24px;
}
.social-links a:hover img{
   transform: scale(2.5);
}




/* partticles 

/* line 2, ../scss/particle.scss */
.vertical-centered-box {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* line 8, ../scss/particle.scss */
.vertical-centered-box:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: -0.25em;
}

/* line 14, ../scss/particle.scss */
.vertical-centered-box .content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-size: 0;
}

/* line 23, ../scss/particle.scss */
* {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 29, ../scss/particle.scss */
.loader-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  margin-left: -60px;
  margin-top: -60px;
}

/* line 40, ../scss/particle.scss */
.loader-line-mask {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  overflow: hidden;
  -webkit-transform-origin: 60px 60px;
  -moz-transform-origin: 60px 60px;
  -ms-transform-origin: 60px 60px;
  -o-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
  -webkit-mask-image: -webkit-linear-gradient(top, #000000, transparent);
  -webkit-animation: rotate 1.2s infinite linear;
  -moz-animation: rotate 1.2s infinite linear;
  -o-animation: rotate 1.2s infinite linear;
  animation: rotate 1.2s infinite linear;
}

/* line 60, ../scss/particle.scss */
.loader-line-mask .loader-line {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}

/* line 66, ../scss/particle.scss */
#particles-background,
#particles-foreground {
  left: 0;
  top: 0;
  width: 100%;
}

/* line 72, ../scss/particle.scss */
#particles-background {
  background: #2c2d44;
  background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
  background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
  background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
}

/* line 78, ../scss/particle.scss */
lesshat-selector {
  -lh-property: 0;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 84, ../scss/particle.scss */
[not-existing] {
  zoom: 1;
}

/* line 87, ../scss/particle.scss */
lesshat-selector {
  -lh-property: 0;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
}
@-o-keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
}
/* line 93, ../scss/particle.scss */
[not-existing] {
  zoom: 1;
}

/* line 96, ../scss/particle.scss */
lesshat-selector {
  -lh-property: 0;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 102, ../scss/particle.scss */
[not-existing] {
  zoom: 1;
}


/* responsiveness */

@media screen and (max-width: 767px) {
  .landingbg {
    padding-bottom: 0;
  }
  .header .right-box {
    display: none;
  }
  .main-content {
    padding: 35px 0px;
  }
  .main-content .details {
    padding: 0 20px;
  }
  .main-content .details h1{
    font-size: 36px;
    line-height: 60px;
  }
  .cards .card p {
    padding: 0;
    margin-bottom: 70px;
  }
  .cards {
    padding-bottom: 0;
  }
  .founders {
    padding: 30px !important;
    text-align: left;
  }
  .story-formation .image{
    padding-top: 25px;
  }
  .core-team {
    padding-left: 30px;
  }
  .slider-arrows {
    display: none;
  }
  .scroll-container {
    width: 100% !important;
    overflow: scroll !important;
  }
  .avatar-container {
    width: 1100px;
  } 
  .footer {
    margin-top: 60px;
  }
  section.footer .wave {
    top: -75px;
  }
  section.footer .wave svg {
      width: 100%;
  }
  section.footer .contact-details {
    align-items: flex-start;
    padding-top: 70px;
  }
  .contact-details li {
    line-height: 15px;
    font-size: 7px;
  }
  .address2, .social-links, .contact-us {
    padding-top: 50px;
  }
}

.footer-logo {
  width: 100px;
  margin-bottom: 15px;
}

.featuredin {

}
.featuredin ul {
  text-align: center;
  padding: 60px 0;
  padding-top: 15px;

}
.featuredin ul li{
  display: inline-block;
  padding: 0 15px;
  margin-bottom: 10px;
  
}
.featuredin ul li a{
  font-size: 12px;
}
.featuredin ul li a img:hover{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.featuredin ul li a img{
  width: 100px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}



